{% extends 'admin/base.html' %}
{% load static %}
{% block content %}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{table_name}}</h4>
        <!-- <p class="card-description"> Basic form elements </p> -->
        <form class="forms-sample"  method="POST" enctype="multipart/form-data">
    
          {% csrf_token %}
          {{form.as_p}}
          
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}