{% extends 'store/base.html' %}
{% load static %}
{% block content %}

 <!--====== App Content ======-->
 <div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="">Home</a></li>
                            <li class="is-marked">

                                <a href="">Cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->





    <section class="section-content padding-y bg">
        <div class="container">
        
        <!-- ============================ COMPONENT 1 ================================= -->
        
        <div class="row">
            <aside class="col-lg-6">
        <div class="card">
            <div class="card-body">
        
        
            
        <h4 class="card-title mb-4">Billing Address</h4>
        
            {% csrf_token %}
            <div class="form-row">
                <div class="col form-group">
                    <label for="">{{order.first_name}} {{order.last_name}}</label>
                </div>
                <div class="col form-group">
        
                    <label for=""></label>
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
        
                    <label for="">{{order.email}}</label>
                </div>
                <div class="col form-group">
        
                    <label for="">{{order.phone}}</label>
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
        
                    <label for="">{{order.address_line1}} {{order.address_line2}}</label>
                </div>
                <div class="col form-group">
        
                    <label for=""></label>
                </div>
            </div>
            
            <div class="form-row">
                <div class="col form-group">
        
                    <label for="">{{order.city}} {{order.state}}</label>
                </div>
               
                <div class="form-group">
                    <label for="sel1"></label>
                  
                     
                    </select>
                  </div> 
            </div>
            <div class="form-row">
                <label  class="font-weight-bold"  for="">Order Note:</label>

                <label for="">{{order.order_note}}</label>
              
            </div>
           
            <br>
        
            
           
            
        
        </div>
        
<!---------------------------------------------------------------------------------------------------------------PAYMENT OPTION-->
        </div> <!-- card.// -->
        <div class="card">
            <div class="card-header font-weight-bold">
              Payment Method
            </div>
            <div class="card-body">
              
              <form action="{% url 'payments' order.order_number %}" method="POST" >
                {% csrf_token %}

              <h5 >Cash On Delivery</h5>

            <input type="radio" id="cash_on_delivery" name="payment-option" value="cash_on_delivery">
            <label for="html">Cash On Delivery</label>
            <hr>  


            <h5 >Paypal</h5>
            <label>
                <input type="radio" name="payment-option" value="paypal" checked>
                <img src="{% static 'store/payments/paypal_mark.jpg' %}" alt="Pay with Paypal">
            </label>
            <hr>

            <h5 >Razorpay</h5>
            <label>
                <input type="radio" name="payment-option" value="razorpay" checked>
                <img src="{% static 'store/payments/razorpay.png' %}" alt="Pay with razorpay" style="height: 70px;">

            </label>  
            <hr>

            <h5 >Card</h5>
            <label>
                <input type="radio" name="payment-option" value="card">
                <img src="{% static 'store/payments/card_mark.pn' %}" alt="Accepting Visa, Mastercard, Discover and American Express">
            </label>

             </div>
          </div>
        
            </aside>
<!----------------------------------------------------------------------------------------------------------------PRODUCT DETAILS -->
            <aside class="col-lg-6">
        
                <div class="card">
                <div class="card-body">
        
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                          <th scope="col">Product</th>
                          <th scope="col" width="120">Quantity</th>
                          <th scope="col" width="120">Price</th>
                          
                        </tr>
                        </thead>
                        <tbody>
                        
                            {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.product.image1.url }}" class="img-sm" style="height: 100px;"></div>
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name}}</a>
                                        <!-- <p class="text-muted small"><br> Brand: {{cart_item.product.brand }}</p> -->
                                    </figcaption>
                                </figure>
                            </td>
                            
                            <td>
                                <div class="table-p__input-counter-wrap">

                                    <!--====== Input Counter ======-->
                                    <div class="input-counter">


                                        <input class="input-counter__text input-counter--text-primary-style" type="text" value="{{ cart_item.quantity}}" data-min="1" data-max="1000">

                                    <!--====== End - Input Counter ======-->
                                </div>
                            </td>
                            
                            <td> 
                                <div class="price-wrap"> 
                                    <var class="price">{{ cart_item.sub_total }}</var> 
                                
                               
                                </div> <!-- price-wrap .// -->
                            </td>
                            
                        </tr>
                        
                        {% endfor %}
                        <table class="f-cart__table">
                            <tbody>
                                <!-- <tr>
                                    <td>SHIPPING</td>
                                    <td>₹4.00</td>
                                </tr> -->
                                <tr>
                                    <td>SUBTOTAL</td>
                                    <td>₹{{total}}</td>
                                </tr>
                                <tr>
                                    <td>TAX</td>
                                    <td>₹{{ tax}}</td>
                                </tr>
                               
                                <tr>
                                    <td>GRAND TOTAL</td>
                                    <td>₹{{grand_total}}</td>
                                </tr>
                                <tr>
                                    <td>GRAND TOTAL IN $</td>
                                    <td>${{dollar_total}}</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        </tbody>
                        </table>
                    <input type="submit" name="submit" value="Cash on Delivery" class="btn btn-warning btn-block" style="background: #ff4500;" >
                </form>
<!--------------------------------------------------------------------------------------------------------------------------------------------------------RAZORPAY-->
                <div class="center">
                <form action="{% url 'razorpay' order.order_number %}" method="POST" >{% csrf_token %}
                    <script
                        console.log(amount)
                        src="https://checkout.razorpay.com/v1/checkout.js"
                        data-key="rzp_test_4RWq9AydeWjoaj"
                        data-amount="{{razoypay_amount}}" 
                        data-currency="INR"
                        data-order_id="{{payment.id}}"
                        data-buttontext="Pay with Razorpay"
                        data-name="Mridhul"
                        data-description="How are you"
                        data-image="https://example.com/your_logo.jpg"
                        data-prefill.name="mridhul"
                        data-prefill.email="mridhul@example.com"
                        data-theme.color="orange"
                    ></script>
                    <input type="" custom="Hidden Element" name="hidden">
                    </form>
                </div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------END RAZORPAY-->
                <div id="paypal-button-container"></div>
                <div id="card-button-container" class="hidden btn btn-warning btn-block" style="background: #ff4500;"><button>Cards</button></div>
                
                    <a href="{% url 'home' %}" class="btn btn-light btn-block">Continue Shopping</a>
        
                
                <br>
        
             
                
              
        
                </div> <!-- card-body.// -->
                </div> <!-- card.// -->
              
        
        
        
               
        
        
        
        
        </aside> <!-- col.// -->
        
        
        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
        
        </div> <!-- container .//  -->
        </section>
        <!-- ========================= SECTION CONTENT END// ========================= -->


            <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AcxS8wzOOf7gbKpkMRjAgYHVFfTOEfHtvLDeaELad_x7dKHy2uN9cM-kmfKDnGw4fUpV0yHdlzWdLc31&currency=USD"></script>

    <script>

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }

        // Listen for changes to the radio fields
        document.querySelectorAll('input[name=payment-option]').forEach(function(el) {
            el.addEventListener('change', function(event) {

                // If PayPal is selected, show the PayPal button
                if (event.target.value === 'paypal') {
                    document.querySelector('#card-button-container').style.display = 'none';
                    document.querySelector('#paypal-button-container').style.display = 'inline-block';
                }

                // If Card is selected, show the standard continue button
                if (event.target.value === 'card') {
                    document.querySelector('#card-button-container').style.display = 'inline-block';
                    document.querySelector('#paypal-button-container').style.display = 'none';
                }
            });
        });

        // Hide Non-PayPal button by default
        document.querySelector('#card-button-container').style.display = 'none';

        var amount = "{{dollar_total}}"
        var url = "{% url 'paypal' %}"
        var csrftoken = getCookie('csrftoken');

        var order_id = "{{order.order_number}}"
        redirect_url = "{% url 'orderConfirm' order.order_number %}"

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            
            style: {
                layout: 'horizontal'
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount,
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    console.log(details)
                    sendData();
                    // Show a success message to the buyer
                    

                    function sendData (){
                        fetch(url,{
                            method : "POST",

                            headers:{
                                "Content-type":"application/json",
                                "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                                orderID:order_id,
                                trans_ID:details.id,
                                payment_method:"PayPal",
                                status:details.status,
                            }),
                        })
                        .then((response)=>response.json())
                        .then((data) =>{
                            window.location.href=redirect_url +'?order_number='+data.order_number+'&payment_id='+data.trans_ID
                    });
                    }

                });
            }
        }).render('#paypal-button-container');
    </script>


{% endblock content %}
